<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>node.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>node_dtrace_header.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>node_dtrace_provider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>node_dtrace_ustack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>node_etw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>node_js2c.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>node_mdb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>node_perfctr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>specialize_node_d.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>56EBAFB4147D12DAD39CCEA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59580A8E6D3BECC548B9064E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73A8D3370A961A3335F61A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846097BE02A8DF31728FE059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B12C33D3803B4657CFE1F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F861B2E391D53A7E48FF06D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE1EFFAE8CE285443C612B73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9357DB883B2C4FFF88581B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8CA4EEF46B13203012B1362</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB2A415884799FF9DE194FF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
